@import 'src/styles/variables.scss';

@media (min-width: 768px) {
    .contentContainer {
        //border-left: 2px solid black;
    }
}

.settingsContainer {
    background-color: white;
    border-radius: 10px;
    display: flex;
}

.redirectContainer {
    width: min-content;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-right: $base-border;
    border-width: 2px;
    padding: 1em;
}

.contentContainer {
    flex-grow: 3;
    padding: 20px
}