@import 'src/styles/variables.scss';

.container {
    width: 600px;
    height: calc(100% - 4em);
    overflow: hidden;
    padding: $big-gap !important;
    position: relative;
}

.subContainer {
    overflow-y: auto;
}

.middleContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.header {
    width: 100%;
    padding-bottom: $symmetrical-padding;
    border-bottom: $base-border;
    font-weight: 500;
    background-color: var(--surface-color);
    //z-index: 1;
}

.redirectContainer {
    width: min-content;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-right: $base-border;
    border-width: 2px;
    padding: 1em;
}

.contentContainer {
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    flex-wrap: nowrap !important;
}

.email {
    font-size: $font-s;
}

.accountContainer {
    justify-content: flex-start !important;
}

.segment {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
}

.emailLeftSide {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.emailWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.saveSettingsContainer {
    position: absolute;
    bottom: 2em;
    right: 2em;
}

@media (max-width: $tablet-breakpoint) {
    .container {
        width: 100%;
        height: auto;
        border: none !important;
        padding-right: 0 !important;
    }

    .subContainer {
        padding-right: 18px;
    }
}