@use "@/styles/variables" as v;

.container {
  transition: opacity 0.1s ease-in-out, color 0.2s ease-in-out;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  color: inherit;
  height: 1.5em;
  width: 1.5em;
  overflow: hidden;
  box-sizing: content-box;

  min-width: 1.5em;
  min-height: 1.5em;
  padding: 0;

  &.noPadding {
    width: auto;
    height: auto;
    min-width: unset;
    min-height: unset;
  }

  &.selected {
    opacity: 1;
  }

  &.notSelected {
    opacity: v.$opacity-very-low;
  }

  &.normal {
    color: var(--on-primary-color);
  }

  &.green {
    color: var(--green-color);
  }

  &:hover:enabled {
    .icon {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  &:active:enabled {
    .icon {
      transform: scale(1.0);
      opacity: 1;
    }
  }

  &.large {
    font-size: v.$font-xl;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  transform-origin: center center;
}

.border {
  border: 1px solid var(--primary-color);
  border-radius: 100%;
}