@use "@/styles/index";
@use "@/styles/variables" as v;

.categoryChipColor {
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.5em;
  flex-shrink: 0;
}

.categoryOption {
  @extend .Horizontal-Flex-Container;

  & > span {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }
}

.descriptionTextArea {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;

  padding: 10px 12px;
    border-radius: 8px;
    background-color: var(--surface-color);
    border: 1px solid var(--border-primary-color);
    font-size: v.$font-m;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);

    &:focus-visible {
      outline: none;
      border: 1px solid var(--border-primary-color);
    }

    &:focus + .lengthCounter {
      opacity: v.$opacity-low;
    }
}

.lengthCounter {
  position: absolute;
  bottom: -0.75em;
  right: 10px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.titleContainer {
  position: relative;
}

.titleInput {
  @extend .Title-Large;
  width: 100%;

  & + .lengthCounter {
    bottom: calc(-1em - 10px);
    right: 0;
  }

  &:focus + .lengthCounter {
    opacity: v.$opacity-low;
  }
}