@use "@/styles/index";
@use "@/styles/variables" as v;

.categoryChipColor {
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.5em;
  flex-shrink: 0;
}

.categoryOption {
  @extend .Horizontal-Flex-Container;

  & > span {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }
}