@use "@/styles/variables" as v;

.container {
    background-color: var(--surface-color);
    color: var(--on-surface-color);
    border-radius: v.$base-border-radius;
    transition: 0.2s background-color, 0.2s color, 0.2s box-shadow, 0.2s opacity;
    border: v.$base-border;

    &.selected {
        background-color: var(--primary-color);
        color: var(--on-primary-color);
    }

    &:hover:not(.disabled) {
        box-shadow: v.$elevation-1;
    }

    &.round {
        border-radius: v.$button-border-radius;
    }

    &.filled {
        background-color: var(--primary-color);
        color: var(--on-primary-color);
        border: none;
    }

    &.small {
        font-size: v.$font-s;
        padding: 8px 19px;
    }

    &.big {
        font-size: v.$font-xxl;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: v.$opacity-low;
    }
}