@use "@/styles/variables" as v;
@use "@/styles/index.scss";

@media (min-width: v.$phone-breakpoint) {
    .container:hover:not(.disabled) {
        transform: translateY(-1px);
        box-shadow: v.$elevation-1;
    }
}

.chipButton {
    overflow: hidden;
}

.container {
    @extend .Button;
    background-color: var(--surface-color);
    color: var(--on-surface-color);
    border-radius: v.$base-border-radius;
    transition: 0.2s background-color, 0.2s color, 0.2s box-shadow, 0.2s opacity, 0.2s transform;
    border: v.$base-border;

    padding: 0 !important;

    &.widthLimited {
        max-width: 100%;
        width: min-content;
        justify-content: flex-start;
    }

    &.round {
        border-radius: v.$button-border-radius;
    }

    &.filled {
        background-color: var(--primary-color);
        color: var(--on-primary-color);
        border: v.$base-border;
        border-color: transparent;
    }

    .children {
        overflow: hidden;
        & > * {
            flex-shrink: 0;
        }
    }

    &:not(.small) {
        & > *:only-child {
            padding: 10px 24px;
        }

        & > *:not(:only-child) {
            padding: 10px 5px 10px 24px;

            & ~ button {
                padding: 10px 12px 10px 5px;
            }
        }
    }

    &.small > * {
        @extend .Label-Large;
        padding: v.$small-button-padding;

        &:not(:only-child):first-child {
            padding-right: 0;
        }
        &:not(:only-child):last-child {
            padding-left: 0;
        }
        &:not(:only-child):not(:first-child):not(:last-child) {
            padding: 0;
        }
    }

    &.big {
        font-size: v.$font-xxl;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: v.$opacity-low;
    }

    &:active:not(.disabled) {
        transform: translateY(1px);
    }
}