@import 'src/styles/variables.scss';

.mainContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    padding: 10px 14px;
    font-size: 24px;
    border-bottom: $base-border;
}