@use "@/styles/index" as i;

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.buttonContainer {
  width: 100%;
}

.googleContainer {
  @extend .Stack-Container;
  align-items: center;
  height: 5em;
  opacity: 0;

  &.googleVisible {
    opacity: 1;
  }
}