@import 'src/styles/variables.scss';

.container {
    border-radius: $button-border-radius;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    font-size: $font-l;

    &.square {
        border-radius: $base-border-radius;
        padding: 10px
    }

    &.outlined {
        border: 2px solid var(--primary-color);
        background-color: var(--surface-color);
        color: var(--on-surface-color);
    }

    &.small {
        font-size: $font-s;
    }

    &.big {
        font-size: $font-xxl;
    }

    &.max {
        width: 100%;
    }

    &:disabled {
        opacity: $opacity-low;
        cursor: not-allowed;
    }

    &.isWarning {
        color: var(--error-color);
        border-color: var(--error-color);
    }
}