@use "@/styles/variables" as v;

.container {
    @extend .Button, .Horizontal-Flex-Container;
    
    border-radius: v.$button-border-radius;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    transition: 0.2s box-shadow, 0.2s transform;
    font-size: v.$font-l;

    &.square {
        border-radius: v.$base-border-radius;
    }

    &.outlined {
        border: 1px solid var(--border-primary-color);
        background-color: var(--surface-color);
        color: var(--on-surface-color);
    }

    &.small {
        font-size: v.$font-s;
        padding: v.$small-button-padding;
    }

    &.large {
        font-size: v.$font-xxl;
    }

    &.max {
        width: 100%;
    }

    &.symmetrical {
        padding: v.$symmetrical-padding;
    }

    &:disabled {
        opacity: v.$opacity-low;
        cursor: not-allowed;
    }

    &.isWarning {
        color: var(--error-color);
        border-color: var(--error-color);
    }

    &:hover:not(:disabled) {
        transform: translateY(-1px);
        box-shadow: v.$elevation-1;
    }

    &:active:not(:disabled) {
        transform: translateY(1px);
        box-shadow: v.$elevation-1;
    }
}