@import 'src/styles/variables.scss';

.container {
    border-radius: $button-border-radius;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    font-size: $font-l;

    &.square {
        border-radius: $base-border-radius;
        padding: 10px
    }

    &.outlined {
        border: 1px solid var(--primary-color);
        background-color: var(--surface-color);
        color: var(--on-surface-color);
    }
}