@use "@/styles/variables" as v;

.button {
  width: 2em;
  height: 2em;
  border-radius: v.$button-border-radius;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);

  &.selected {
    color: var(--on-primary-color);
    background-color: var(--primary-color);
  }
}