@use "@/styles/variables" as v;
@use "@/styles/index";

@media (max-width: v.$phone-breakpoint) {
  .categoryChipContainer {
    flex-direction: row;
    padding: 4px 0;
    overflow-x: auto;
    max-width: calc(100% - 20px);
    margin: 0 10px;
    box-sizing: border-box;

    & > :first-child {
      margin-left: 4px;
    }
  
    & > :last-child {
      margin-right: 4px;
    }
  }

  .container {
    flex-direction: column-reverse;
    // width: calc(22.15em + 20px);
    // min-width: calc(22.15em + 20px);
    width: 100%;
  }

  .leftSide {


    width: 100%;
    padding: 0.5em 10px 0.5em 10px;
  }
}

@media (min-width: v.$phone-breakpoint) {
  .categoryChipContainer {
    padding: 4px;
    overflow: hidden;
    max-width: 12.5em;
    max-height: 100%;
  }

  .leftSide {
    height: 100%;
    width: 25em;
    min-width: 25em;
    padding: 0 10px 0.5em 10px;
  }
}

.container {
  @extend .Horizontal-Flex-Container;
  overflow: hidden;
  padding-top: 0.5em;
  gap: 0;
  align-items: flex-start;
}

.leftSide {
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: var(--border-primary-color);
  }

  & > :last-child {
    margin-bottom: 4px;
  }
}

.categoryChipContainer {
  @extend .Stack-Container, .Align-Left;
  height: min-content;
  flex-shrink: 0;

  &::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: var(--border-primary-color);
  }
}

.categoryChipColor {
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.5em;
  flex-shrink: 0;
}

.categoryContents {
  @extend .Horizontal-Flex-Container;
  & > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}

.subCategoryIndicator {
  margin-left: v.$base-border-radius;
  width: 0.5em;
  height: 0.5em;
  // border-left: v.$base-border;
  // border-bottom: v.$base-border;
  // border-color: var(--primary-color);
  border-bottom-left-radius: 4px;
}

.subCategoryContainer {
  @extend .Horizontal-Flex-Container;
  // overflow: hidden;
}

.appBar {
  padding: 8px 4px;
  width: 100%;
  box-sizing: border-box;

  // background-color: var(--surface-color);
  border-bottom: v.$base-border;
}