@use '@/styles/variables' as v;
@use '@/styles/index' as i;
@use '@/styles/mixins' as m;

.container {
  @extend .Rounded-Container, .Stack-Container, .Has-Shadow;

  display: inline-flex;
  position: relative;
  width: 100%;
  padding: v.$symmetrical-padding;
  gap: 6px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0;
}

.topLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleContainer {
  font-size: v.$font-m;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 550;
  text-wrap: wrap;
  white-space: pre-wrap;
}

.infoContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: v.$base-gap;

  &.repeats {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.streakContainer {
  display: inline-block;
}

.completed {
  order: 1;
}

.task {
  @extend .Horizontal-Flex-Container;
  justify-content: space-between;
  width: 100%;
}

.detailsList {
  @extend .Stack-Container;
  @include m.Label-Large;
  gap: 6px;
  max-width: calc(100% - 2.95em - 10px);
}

.repeatDetails {
  @extend .Horizontal-Flex-Container;
  @include m.Label-Medium;
  & > div {
    @extend.Horizontal-Flex-Container;
    gap: 6px;
  }

  width: 100%;
  gap: 0.5em;

  & > div {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    width: 14%;

    &.repeatSeparator {
      text-align: center;
      width: auto;
    }
  }
}

