@import 'src/styles/variables.scss';

.container {
  height: 4em;
  background-color: var(--surface-color);
  display: flex;
  align-items: center;
  padding: $base-padding;
  justify-content: space-around;
  border-top: $base-border;
  z-index: 3;
}