@use "@/styles/variables" as v;
@use "@/styles/index";

.container {
  @extend .Rounded-Container;
  @extend .Stack-Container;
  width: 200px;
  height: 100%;
  background-color: var(--surface-color);

  border-radius: 0;
  padding: 10px;
  overflow-x: hidden;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-primary-color);
}

.categoriesContainer {
  @extend .Stack-Container;
  overflow-x: hidden;
}

.categoryContainer {
  @extend .Stack-Container;
  @extend .Body-Large;

  gap: 0px;

  transition: 0.2s ease-out background-color;
}

.categoryButton {
  @extend .Horizontal-Flex-Container;
  @extend .Body-Large;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding: 2px 6px;
  width: 100%;

  cursor: pointer;

  transition: 0.2s ease-out background-color;
}

.categorySelected {
  border-radius: v.$base-border-radius;
  background-color: var(--background-color);
}

.categoryTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.categoryDot {
  flex-shrink: 0;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  display: inline-block;
}

.subCategoryButton {
  @extend .Horizontal-Flex-Container;
  @extend .Body-Medium;

  color: var(--secondary-color);
  text-align: left;

  overflow: hidden;

  padding: 2px 6px 2px 4px;
  gap: 6px;
  margin-top: 4px;
  width: 100%;

  border-radius: v.$base-border-radius;
  transition: 0.2s ease-out background-color;
}

.subCategoryTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spacer {
  flex-grow: 1;
}

.allSelected {
  @extend .Horizontal-Flex-Container;
  @extend .Body-Large;

  padding: 2px 6px;
}

.settingsContainer {
  display: flex;
  justify-content: end;
}

.settingsButton {
  @extend .Rounded-Container;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: v.$button-border-radius;
  box-sizing: border-box;
  padding: 0.5em;
  color: var(--secondary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.25em;
}