@keyframes moveGradient {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0%;
    }
}

.container {
    background: linear-gradient(90deg, rgba(205,205,205,1) 0%, rgba(242,242,242,1) 50%, rgba(205,205,205,1) 100%);
    background-size: 400% 400%;
    animation: moveGradient ease 5s;
    animation-iteration-count: infinite;
}