@use "@/styles/index";
@use "@/styles/variables" as v;

.container {
    height: v.$font-xl;
    width: v.$font-xl;
    border: 2px solid var(--primary-color);
    border-radius: v.$font-xl;
    color: var(--primary-color);
    opacity: 0.4;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &:hover {
        background-color: var(--border-primary-color);
    }
}

.svg {
    stroke-width: 10px;
    stroke-linecap: round;
    fill: transparent;
}

.numberIndicatorContainer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    & > div {
        position: relative;
        width: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        & > div {
            position: absolute;
            top: -1.25em;
        }
    }
}

.numberIsGreen {
    transition: 0.2s color ease-in-out;
    color: var(--success-color);
}