@use "@/styles/index";
@use "@/styles/variables" as v;

.container {
    height: v.$font-xl;
    width: v.$font-xl;
    border: 2px solid var(--primary-color);
    border-radius: v.$font-xl;
    color: var(--primary-color);
    opacity: 0.4;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &:hover {
        background-color: var(--border-primary-color);
    }
}

.svg {
    stroke-width: 10px;
    stroke-linecap: round;
    fill: transparent;
}

.numberIndicatorContainer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    & > div {
        position: relative;
        width: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        & > div {
            position: absolute;
            top: -1.25em;
        }
    }
}

.numberIsGreen {
    transition: 0.2s color ease-in-out;
    color: var(--success-color);
}

.boxIsNotChecked {
    
}

@keyframes getChecked {
    0% {
        stroke-dashoffset: 1;
        color: var(--success-color);
    }
    75% {
        stroke-dashoffset: 0.25;
        color: var(--success-color);
    }
    100% {
        stroke-dashoffset: 0;
        color: var(--primary-color);
    }
}

.checkbox {
    &.isChecked {
        animation-name: getChecked;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;
    }

    &.notChecked {
        transition: 0.2s stroke-dashoffset ease-in-out, 0.2s opacity ease-in-out;
        stroke-dashoffset: 1;
        opacity: 0;
        color: var(--primary-color);
    }
}