@use '@/styles/index' as i;
@use '@/styles/variables' as v;

.container {
  @extend .Stack-Container;
  margin-top: 0;
  padding: 0 12px;

  align-items: flex-end;
}

.bars {
  @extend .Horizontal-Flex-Container;

  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;

  &.barsStrength1 > div:first-child {
    background-color: var(--error-color);
  }

  &.barsStrength2 > div:first-child, &.barsStrength2 > div:nth-child(2) {
    background-color: var(--warning-color);
  }

  &.barsStrength3 > div:first-child, &.barsStrength3 > div:nth-child(2), &.barsStrength3 > div:nth-child(3) {
    background-color: var(--success-color);
  }

  &.barsStrength4 > div {
    background-color: var(--info-color);
  }

  & > div {
    background-color: var(--border-primary-color);
    border-radius: v.$button-border-radius;

    height: 0.5em;
    flex-grow: 1;
    transition: none;
  }
}

.message {

}