@use "@/styles/variables" as v;
@use "@/styles/index";

.bottomButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.groupsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.addGroupButton {
  font-size: v.$font-xxl;
}

.dropDownOption {
  font-size: inherit;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.temp {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.groupTitlesContainer {
  @extend .Horizontal-Flex-Container;
  flex-wrap: wrap;
}