@import 'src/styles/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 3em;
  justify-content: center;
  width: 100%;
}

.noTasks {
  width: 22.15em;
  justify-content: center;
}

.leftSide {
  width: min-content;
  align-items: center;
}

.rightSide {
  flex: 2;
}

@media (max-width: $tablet-breakpoint) {
  .leftSide {
    width: 100%;
    padding-top: 1em;
  }
}