@use "@/styles/variables" as v;

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 3em;
  justify-content: center;
  width: 100%;
}

.leftSide {
  width: min-content;
  align-items: center;
}

.rightSide {
  flex: 2;
}

@media (max-width: v.$tablet-breakpoint) {
  .leftSide {
    width: 100%;
    padding-top: 1em;
  }
}