@use '@/styles/variables' as v;

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 3em;
  justify-content: center;
  width: 100%;
  overflow-x: visible;
}

.rightSide {
  flex: 2;
}

@media (min-width: v.$phone-breakpoint) and (max-width: v.$desktop-breakpoint) {
  .container {
    justify-content: flex-start;
    padding-top: 2em;
  }
}