@use "@/styles/index";
@use "@/styles/variables" as v;

.container {
  @extend .Horizontal-Flex-Container;
  border-radius: v.$button-border-radius;
  position: fixed;
  bottom: 2em;
  right: 2em;
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  font-size: v.$font-l;
  padding: v.$base-padding;
  z-index: 2;
}