@use "@/styles/variables" as v;

.container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 100%;
}

.childrenContainer {
  border-top: v.$base-border;
  border-bottom: v.$base-border;
  gap: 0;
  overflow-y: visible;
  & > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &.noBorder {
    border: none;
  }
}

.subContainer {
  width: 22.15em;
}