@import '../../../styles/variables';

.container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.childrenContainer {
  border-top: $base-border;
  border-bottom: $base-border;
  gap: 0;
  overflow-y: visible;
  & > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &.noBorder {
    border: none;
  }
}

.subContainer {
  width: 22.15em;
}