@use "@/styles/variables" as v;

.container {
  position: relative;
}

.baseContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: v.$base-padding;

  font-size: v.$font-m;

  width: fit-content;

  border: v.$base-border;
  border-radius: v.$base-border-radius;

  & > .inputContainer > input {
    height: 1.4em;
    text-align: right;
    line-height: 1.4em;

    font-size: inherit;

    width: 1.2em;
    padding: 0;

    transition: 0.2s opacity ease-in-out;
  }
}

@keyframes expandFloatingContainer {
  from {
    opacity: 0;
    transform: scaleY(0.8);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.floatingContainer {
  position: absolute;
  top: calc(-1.4em + 1px);
  left: 0;

  background-color: var(--surface-color);

  border: v.$base-border;
  border-radius: v.$base-border-radius;
  font-size: v.$font-m;

  padding: v.$base-padding;
  box-shadow: v.$elevation-1;

  box-sizing: border-box;

  transition: 0.2s opacity ease-in-out, 0.2s transform ease-in-out;

  animation: 0.2s expandFloatingContainer;

  &.collapsed {
    opacity: 0;
    transform: scaleY(0.8);
  }
}

@keyframes expandPickerUpDown {
  from {
    opacity: 1;
    border-color: var(--surface-color);
  }
  to {
    opacity: 0.7;
    border-color: var(--border-primary-color);
  }
}

.relativeContainer {
  //visibility: collapse;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex: 0;
  height: 4.2em;

  //padding: v.$base-padding;

  position: relative;

  overflow: hidden;

  &:after, &:before {
    content: "";
    position: absolute;

    height: 1.4em;
    width: 100%;

    left: 0;

    background-color: var(--surface-color);
    opacity: 0.7;

    animation: 0.2s expandPickerUpDown;
  }

  &:before {
    top: 0;
    border-bottom: 1px solid var(--border-primary-color);
  }

  &:after {
    bottom: 0;
    border-top: 1px solid var(--border-primary-color);
  }
}

.pickerContainer {
  font-size: v.$font-m;
  height: 4.2em;
  width: 1.2em;
  overflow: auto;
  overflow-y: scroll;

  padding: 0;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  // Hide scrollbar
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  & > li {
    list-style-type: none;
    scroll-snap-align: center;
    height: 1.4em;
    text-align: right;

    line-height: 1.4em;

    font-size: v.$font-m;
  }
}

.pickerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 3;
}

.inputContainer {
  display: flex;
  gap: 5px;
  align-items: center;

  & > div {
    text-align: center;
    height: 0.75em;
    line-height: 0.75em;
  }
}