@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.container {
  border-radius: v.$base-border-radius;
  padding: 4px 7px;
  font-size: v.$font-s;
  align-items: center;
  max-width: 100%;
  width: min-content;
}

.text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}