@import 'src/styles/variables.scss';

.container {
  border-radius: $button-border-radius;
  padding: 5px 10px;
  font-size: $font-s;
  align-items: center;
  max-width: 12.5em;
}

.text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}