@use "@/styles/variables" as v;

.container {
    position: fixed;
    top: 0;
    left: calc(50% - 150px);
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: v.$base-gap;
    z-index: 5;
}