@import 'src/styles/variables.scss';

.container {
    width: 10em;
    position: relative;
    border-radius: 8px;
}

.inputContainer {
    width: 100%;
    transition: transform 0.2s;
    box-sizing: border-box;
    height: 2.5em;
    box-shadow: none;
    justify-content: space-between;

    &:hover:not(.disabled) {
        transform: scale(1.01);
    }

    cursor: pointer;

    &.disabled {
        cursor: not-allowed;
        > * {
            opacity: $opacity-very-low;
        }
    }
}

.arrowIcon {
    transform-origin: center center;
}

.optionsContainer {
    box-sizing: border-box;
    position: absolute;
    gap: 5px;
    transform-origin: top;
    width: 10em;
    
    z-index: 1;
    margin-top: 5px;
    overflow-y: hidden;
    padding: $base-padding;
    box-shadow: $elevation-1;
}

.option {
    position: relative;
    padding: $base-padding;
    font-size: $font-l;
    line-height: 1.5em;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    
    &:hover {
        &::after {
            content: '';
            background-color: var(--on-surface-color);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.05;
            border-radius: 8px;
        }
    }
}

.selected {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}