@use "@/styles/variables" as v;

.container {
    width: 10em;
    position: relative;
    border-radius: 8px;
}

.inputContainer {
    width: 100%;
    box-sizing: border-box;
    height: 2.5em;
    box-shadow: none;
    justify-content: space-between;

    transition: 0.2s box-shadow, 0.2s transform;

    cursor: pointer;

    &.disabled {
        cursor: not-allowed;
        > * {
            opacity: v.$opacity-very-low;
        }
    }

    &:hover:not(.disabled) {
        transform: translateY(-1px);
        box-shadow: v.$elevation-1;
    }

    &:active:not(.disabled) {
        transform: translateY(1px);
    }
}

.arrowIcon {
    transform-origin: center center;
}

.optionsContainer {
    box-sizing: border-box;
    position: absolute;
    gap: 5px;
    transform-origin: top;
    width: 10em;
    
    z-index: 1;
    margin-top: 5px;
    padding: v.$base-padding;
    box-shadow: v.$elevation-1;

    max-height: 10em;
    flex-flow: wrap;
    overflow-y: auto;
}

.option {
    position: relative;
    font-size: v.$font-s;
    line-height: 1.5em;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    height: 2em;
    width: 100%;

    & > * {
        padding: v.$base-padding;
        &:hover {
            &::after {
                content: '';
                background-color: var(--on-surface-color);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0.05;
                border-radius: 8px;
                pointer-events: none;
            }
        }
    }
}

.selected {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}