@use "@/styles/variables" as v;

.container {
    border-radius: v.$button-border-radius;
    height: 1.5em;
    width: 2.25em;
    background-color: var(--primary-color);
    cursor: pointer;
    font-size: v.$font-m;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        width: 1em;
        height: 1em;
        background-color: var(--on-primary-color);
        content: '';
        display: inline-block;
        border-radius: v.$button-border-radius;
        transform: translateX(0.25em);
        transition: transform 0.2s, width 0.2s, height 0.2s;
    }

    &.active {
        &::before {
            transform: translateX(1em);

            &:hover {
                background-color: red;
            }
        }
    }

    &:hover {
        &::before {
            height: 1.1em;
            width: 1.1em;
        }
        &.active {
            &::before {
                height: 1.1em;
                width: 1.1em;
                transform: translateX(0.95em)
            }
            
        }
    }
}