@import 'src/styles/variables.scss';

.container {
    border-radius: $button-border-radius;
    height: 1.5em;
    width: 2.25em;
    background-color: var(--primary-color);
    cursor: pointer;

    &::before {
        width: 1em;
        height: 1em;
        background-color: var(--on-primary-color);
        content: '';
        display: inline-block;
        border-radius: $button-border-radius;
        transform: translate(0.25em, 0.25em);
        vertical-align: top;
        transition: transform 0.2s, width 0.2s, height 0.2s;
    }

    &.active {
        &::before {
            transform: translate(1em, 0.25em);

            &:hover {
                background-color: red;
            }
        }
    }

    &:hover {
        &::before {
            height: 1.1em;
            width: 1.1em;
            transform: translate(0.25em, 0.2em)
        }
        &.active {
            &::before {
                height: 1.1em;
                width: 1.1em;
                transform: translate(0.95em, 0.2em)
            }
            
        }
    }
}