@use "@/styles/variables" as v;
@use "@/styles/index";

@media (max-width: v.$phone-breakpoint) {
  .container {
    border-top: v.$base-border;
    width: 100%;
    height: calc(100% - 4.5em);
    bottom: 4.5em;
    max-height: calc(100% - 4.5em);
    border-radius: 10px 10px 0 0;
  }
}

@media (min-width: v.$phone-breakpoint) {
  .container {
    width: 400px;
    height: 100%;
    right: 0;
    top: 0;
    box-sizing: border-box;
    border-left: v.$base-border;
  }
}

.container {
  position: fixed;
  background-color: var(--surface-color);
  z-index: 3;
  flex-wrap: nowrap;
  gap: 0;
  box-shadow: v.$elevation-1;
}

.topLineContainer {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0 0 0;
}

.topLine {
  height: 0.3em;
  width: 25%;
  background-color: var(--primary-color);
  border-radius: 0.5em;
}

.actionButtonsContainer {
  display: flex;
  justify-content: space-between;
  font-size: v.$font-xl;
  padding: 12px 12px 10px 12px;
  background-color: var(--surface-color);
}

.childrenContainer {
  padding: 0 12px;
  overflow-y: auto;
  flex: 1;
  gap: 0;

  & > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}