@use "@/styles/variables" as v;
@use "@/styles/index";

.container {
    width: 100%;
    max-width: 360px;
    background: var(--surface-color);
    color: var(--on-surface-color);
    display: flex;
    align-items: stretch;
    transform-origin: top;
    border-radius: v.$base-border-radius;
    border: v.$base-border;
    overflow: hidden;

    box-shadow: v.$elevation-1;
}

.textContainer {
    @extend .Stack-Container;
    padding: v.$base-padding;
    flex-grow: 1;
    & > :last-child {
        opacity: 0.6;
    }
}

.iconContainer {
    display: inline-flex;
    padding: 10px;
}

.typeIndicator {
    width: 1em;
    &.error {
        background-color: var(--error-color);
    }

    &.warning {
        background-color: var(--warning-color);
    }

    &.success {
        background-color: var(--success-color);
    }

    &.info {
        background-color: var(--info-color);
    }
}