@import 'src/styles/variables.scss';

.container {
  margin: 0;
}

.childrenContainer {
  border-top: $base-border;
  border-bottom: $base-border;
  gap: 0;
  overflow-x: hidden;
  & > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &.noBorder {
    border: none;
  }
}

.subContainer {
  width: 22.15em;
}