@import 'src/styles/variables.scss';
$base-size: 1.2em;

.checkbox {
  width: $base-size;
  height: $base-size;
  border: 2px solid var(--primary-color);
  border-radius: $base-size;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.checked {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
  }
}

.loadingIndicatorContainer {
  text-align: center;
  box-sizing: border-box;
}

.tableButton {
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: $font-m;
  gap: 6px;
}

.editIcons {
  font-size: $font-xl;
}

.table {
  tr {
    td {
      width: 45%;
    }
    &:last-of-type(td) {
      width: 10%;
    }
  }
}