.container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  height: 50px;
  width: 50px;
  & > circle {
    fill: var(--primary-color);
  }
}

@keyframes loading1 {
  0% {transform: translateY(0)}
  11% {transform: translateY(-3px)}
  22% {transform: translateY(0)}
  100% {transform: translateY(0)}
}

@keyframes loading2 {
  0% {transform: translateY(0)}
  33% {transform: translateY(0)}
  44% {transform: translateY(-3px)}
  55% {transform: translateY(0)}
  100% {transform: translateY(0)}
}

@keyframes loading3 {
  0% {transform: translateY(0)}
  66% {transform: translateY(0)}
  77% {transform: translateY(-3px)}
  88% {transform: translateY(0)}
  100% {transform: translateY(0)}
}

.firstCircle {
  animation: 1.5s ease-in-out loading1 infinite;
}

.secondCircle {
  animation: 1.5s ease-in-out loading2 infinite;
}

.thirdCircle {
  animation: 1.5s ease-in-out loading3 infinite;
}