.container {
  width: calc(22.15em - 20px);
  padding: 20px !important;
  height: 2em;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;

  &.fullSize {
    height: 100%;
    width: 100%;
  }

  &.inline {
    height: auto;
    width: auto;
    border: none;
    padding: 0 !important;
    border-radius: 2em !important;
    box-shadow: none;
    font-size: inherit;

    background-color: transparent;
  }
}

@keyframes rotating {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.indicator {
  position: relative;
  height: 2em;
  width: 2em;
  border-radius: 2em;
  background-color: var(--background-color);
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    background-color: var(--surface-color);
    top: 0.25em;
    left: 0.25em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1.5em;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    animation: rotating 0.75s linear infinite;
    transform-origin: bottom right;
  }
}

@keyframes pulseSize {
  0% {transform: scale(0.3)}
  33% {transform: scale(0.6)}
  66% {transform: scale(0.3)}
  100% {transform: scale(0.3)}
}

.dotsIndicator {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.5em;

  .dots {
    height: 1.23333em;
    width: 1.23333em;
    border-radius: 1.23333em;
    transform: scale(0.3);

    background-color: var(--on-primary-color);


    &:first-child {
      animation: pulseSize 1.5s linear infinite;
    }

    &:nth-child(2) {
      animation: pulseSize 1.5s linear infinite 0.3s;
    }

    &:last-child {
      animation: pulseSize 1.5s linear infinite 0.6s;
    }
  }

}