@import 'src/styles/variables.scss';

@media (min-width: $tablet-breakpoint) {
  .surface {
    width: 600px;
    height: 650px;
    border-radius: $base-border-radius;
    border: $base-border;
  }
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  & > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}