:root {
  --background-color: #ffffff;
  --accent-color-1: #43A047;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.App {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.side-bar-container {
  height: 500px;
  width: 300px;
  /* position: fixed; */
  margin-bottom: calc(100vh - 500px);
}

.side-nav-bar {
  width: calc(100% - 10px);
  height: 100%;
  border-radius: 0 0 20px 0;
  box-shadow: 0 0 20px #555555;
  display: block;
}

.bottom-nav-bar {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  border-radius: 20px 20px 0 0;
}

.title {
  text-decoration: none;
  color: var(--background-color);
  display: inline-block;
}

.title * {
  margin-bottom: 0;
  position: relative;
}

.list{
  font-size: 22px;
}

.list {
  height: 2em;
  position: relative;
  margin-left: 0.5em;
  color: var(--background-color);
}
.list-circle {
  height: 0.5em;
  width: 0.5em;
  background-color: var(--background-color);
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  bottom: 0.125em;
  position: relative;
}
.list-line {
  height: 0.6em;
  width: 3px;
  background-color: var(--background-color);
  margin: 0;
  position: absolute;
  left: calc(0.25em - 1.5px);
}
.list-line-top {
  top: 0;
}
.list-line-bottom {
  bottom: 0;
}
.list-middle {
  position: absolute;
  margin: 0;
  bottom: 0;
  line-height: 2em;
  width: 100%;
}
.list-title{
  position: absolute;
  left: 0.5em;
  margin-left: 5px;
  padding-left: 5px;
  width: calc(100% - 0.5em - 10px);
}
.list-title:not(.list-selected):hover {
  background-color: #388e3d;
  border-radius: 8px 0 0 8px;
}
.list-title.list-selected {
  background-color: #ffffff;
  color: #43A047;
  border-radius: 8px 0 0 8px;
}
.new-list {
  font-size: 18px;
  height: 2em;
  line-height: 2em;
  background-color: var(--background-color);
  color: var(--accent-color-1);
  height: 2em;
  width: fit-content;
  padding: 0 0.5em 0 0.5em;
  margin-top: 1em;
  border-radius: 10px;
}

.settings-content {
  margin: 0;
}
.settings{
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
  height: 2em;
  margin-bottom: 10px;
  padding-top: 10px;
  display: block;
}
.settings-line{
  border-top: 2px var(--background-color) solid;
}

.semi-circle {
  background: var(--background-color);
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  z-index: 1;
}
.top-semi-circle {
  top: -10px;
}
.bottom-semi-circle {
  bottom: -10px;
}

.indent {
  width: 100%;
  height: 100%;
  background: var(--accent-color-1);
  margin: 0;
}
.top-indent {
  border-radius: 0 0 8px 0;
}
.bottom-indent {
  border-radius: 0 8px 0 0;
}

.content {
  margin: 4em;
  height: 100%;
  width: calc(100% - 300px - 8em);
  flex-grow: 1;
}

.invisible {
  visibility: hidden;
}
.accent-color-2-background {
  background-color: #388e3d;
}
.collapse-side-nav-bar {
  position: fixed;
  color: var(--background-color);
  top: 2em;
  left: calc(280px - 3em);
}
.show-side-nav-bar {
  position: fixed;
  top: 10px;
  left: 10px;
}
.side-nav-bar-content {
  height: 100%;
  position: relative;
  padding-left: 10px;
}

button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}