@import "./variables.scss";

:root {
    --background-color: #f3eff3;
    --on-background-color: #1C1B1F;
    --surface-color: #ffffff;
    --on-surface-color: #1C1B1F;
    --primary-color: #2E3440;
    --on-primary-color: #ffffff;
    --error-color: #B3261E;
    --on-error-color: #ffffff;
}

.App {
    background-color: var(--background-color);
    &.light {
        @include getTheme('light');
    }
    &.dark {
        @include getTheme('dark');
    }
}

.Button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: $base-gap;
    cursor: pointer;
    padding: $base-padding;
    width: max-content;
    
    &.disabled {
        cursor: not-allowed;
    }
}

.Horizontal-Flex-Container {
    display: flex;
    align-items: center;
    gap: $base-gap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Stack-Container {
    display: flex;
    gap: $base-gap;
    flex-wrap: wrap;
    flex-direction: column;
}

.Label {
    font-size: $font-s;
    opacity: $opacity-very-low;
}

.Title {
    font-size: $font-xxl;
    opacity: $opacity-low;
    max-width: fit-content;
}

.Rounded-Container {
    padding: $base-padding;
    border-radius: $base-border-radius;
    background-color: var(--surface-color);
    border: $base-border;
    box-shadow: $elevation-1;
    display: inline-flex;
}

input {
    border: none;
    background: none;

    &:focus {
        outline: none;
    }

    &.Title {
        opacity: 1;
        box-shadow: 0 2px 0 0 var(--surface-color);
        transition: box-shadow 0.2s;
        background-color: var(--surface-color);

        &:focus {
            box-shadow: 0 2px 0 0 var(--on-surface-color);
        }
    } 
}

::placeholder {
    opacity: 0.5;
}

// App.js

@media (max-width: $tablet-breakpoint) {
    .content-container {
        height: calc(100% - 5em);
        width: 100%;
        padding: 1em 1em 2.5em 1em;
    }
}

@media (min-width: $tablet-breakpoint) {
    .content-container {
        width: calc(100% - 300px - 8em);
        height: 100%;
        padding: 2em;
    }
}

.content-container {
    flex-grow: 1;
}

.icon {
    position: absolute;
    top: -0.5em;
}