@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --red-color: #FC5C65;
    --orange-color: #FD9644;
    --yellow-color: #FED330;
    --green-color: #26DE81;
    --light-blue-color: #45AAF2;
    --blue-color: #4B7BEC;
    --purple-color: #A55EEA;
    --overlay-color: rgba(0, 0, 0, 0.4);
}

.App {
    background-color: var(--background-color);
    color: var(--primary-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 0;
    &.Light {
        @include getTheme('light');
    }
    &.Dark {
        @include getTheme('dark');
    }
}

ul {
    margin: 0;
    font-size: $font-l;
}

body {
    overflow-y: hidden;
    position: fixed;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    > * {
        -webkit-tap-highlight-color: transparent;
    }
}

.Content-Container {
    position: relative;
}

* {
    transition: background-color 0.2s;
}

.Button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: $base-gap;
    cursor: pointer;
    padding: $base-padding;
    width: max-content;
    
    &.disabled {
        cursor: not-allowed;
    }
}

.Horizontal-Flex-Container {
    display: flex;
    align-items: center;
    gap: $base-gap;

    &.Space-Between {
        justify-content: space-between;
    }

    &.Space-Around {
        justify-content: space-around;
    }

    &.Align-Right {
        justify-content: flex-end;
    }

    &.Align-Center {
        justify-content: center;
    }
}

.Stack-Container {
    display: flex;
    gap: $base-gap;
    flex-wrap: nowrap;
    flex-direction: column;

    &.BigGap {
        gap: $big-gap;
    }

    &.No-Gap {
        gap: 0;
    }

    &.Centered {
        align-items: center;
    }
}

.Grid-Container {
    display: grid;
    &.Two-By-Two {
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        grid-template-rows: calc(50% - 5px) calc(50% - 5px);
        gap: $base-gap;
    }
}

.Label {
    font-size: $font-s;
    opacity: $opacity-low;
}

.Title {
    font-size: $font-xxl;
    //opacity: $opacity-low;
    //max-width: fit-content;
}

.Headline {
    font-size: $font-xl;
}

.Display {
    font-size: $font-xxxl;
    font-weight: bold;
}

.Rounded-Container {
    padding: $base-padding;
    border-radius: $base-border-radius;
    background-color: var(--surface-color);
    border: $base-border;
    display: inline-flex;

    &.Has-Shadow {
        box-shadow: $elevation-1;
    }
}

.Empty-Indicator-Container {
    @extend .Stack-Container, .Rounded-Container;
    height: 2.5em;
    width: 22.15em;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
}

.Clickable {
    cursor: pointer;
}

.Red {
    background-color: var(--red-color);
}

.Orange {
    background-color: var(--orange-color);
}

.Yellow {
    background-color: var(--yellow-color);
}

.Green {
    background-color: var(--green-color);
}

.LightBlue {
    background-color: var(--light-blue-color);
}

.Blue {
    background-color: var(--blue-color);
}

.Purple {
    background-color: var(--purple-color);
}

input {
    border: none;
    background: none;
    color: var(--primary-color);

    &:focus {
        outline: none;
    }

    &.Title {
        opacity: 1;
        box-shadow: 0 2px 0 0 var(--surface-color);
        transition: box-shadow 0.2s;
        background-color: var(--surface-color);

        &:focus {
            box-shadow: 0 2px 0 0 var(--on-surface-color);
        }
    } 
}

::placeholder {
    opacity: 0.5;
}

button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


// Scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 2px grey;
    border-radius: 10px
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

// App.js
@media (max-width: $tablet-breakpoint) {
    .Content-Container {
        justify-content: center;
        width: 100vw;
        flex-grow: 1;
        overflow: auto;
    }
    .Page {
        box-sizing: border-box;
        border: none !important;
        width: 100%;
        border-radius: 0;
        height: 100%;
        overflow-y: auto;
    }
    .App {
        flex-direction: column;
    }
    .Rounded-Container {
        &.To-Edge {
            border-radius: 0;
        }
    }

    ::-webkit-scrollbar {
        width: 2px;
    }
}

@media (min-width: $tablet-breakpoint) {
    .Content-Container {
        box-sizing: border-box;
        width: calc(100% - 300px - 8em);
        height: 100%;
        padding: 2em;
    }
}

.Content-Container {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
}

.icon {
    position: absolute;
    top: -0.5em;
}