@use '@/styles/mixins' as m;
@use "variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --red-color: #FC5C65;
    --orange-color: #FD9644;
    --yellow-color: #FED330;
    --green-color: #26DE81;
    --light-blue-color: #45AAF2;
    --blue-color: #4B7BEC;
    --purple-color: #A55EEA;
    --overlay-color: rgba(0, 0, 0, 0.4);
}

.App {
    background-color: var(--background-color);
    color: var(--primary-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 0;
    &.Light {
        @include v.getTheme('light');
    }
    &.Dark {
        @include v.getTheme('dark');
    }
}

ul {
    margin: 0;
    font-size: v.$font-l;
}

body {
    overflow-y: hidden;
    position: fixed;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    > * {
        -webkit-tap-highlight-color: transparent;
    }
}

.Content-Container {
    position: relative;
}

* {
    transition: background-color 0.2s;
}

a {
    &:link {
        color: var(--on-surface-color);
    }
    &:visited {
        color: var(--on-surface-color);
    }
    &:hover {
        text-decoration: none;
    }
    &:active {
        color: var(--on-surface-color);
    }
}

.Button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: v.$base-gap;
    cursor: pointer;
    padding: 10px 24px;
    width: max-content;
    white-space: nowrap;
    
    &.disabled {
        cursor: not-allowed;
    }
}

.Horizontal-Flex-Container {
    display: flex;
    align-items: center;
    gap: v.$base-gap;

    &.Space-Between {
        justify-content: space-between;
    }

    &.Space-Around {
        justify-content: space-around;
    }

    &.Align-Right {
        justify-content: flex-end;
    }

    &.Align-Center {
        justify-content: center;
    }
}

.Stack-Container {
    display: flex;
    gap: v.$base-gap;
    flex-wrap: nowrap;
    flex-direction: column;

    &.Big-Gap {
        gap: v.$big-gap;
    }

    &.No-Gap {
        gap: 0;
    }

    &.Centered {
        align-items: center;
    }
}

.Grid-Container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px 10px;
    grid-template-areas:
    ". ."
    ". .";

    & > * {
        height: 72.8px;
    }
}

.Label {
    font-size: v.$font-s;
    opacity: v.$opacity-low;
}

.DropDownOption {
    font-size: inherit;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.Title {
    font-size: v.$font-xxl;
    font-weight: 500;
    //opacity: v.$opacity-low;
    //max-width: fit-content;
}

.Headline-Large {
    @include m.Headline-Large;
}

.Headline-Medium {
    @include m.Headline-Medium;
}

.Title-Large {
    @include m.Title-Large;
}

.Title-Small {
    @include m.Title-Small;
}

.Label-Medium {
    @include m.Label-Medium;
}

.Label-Small {
    @include m.Label-Small;
}

.Body-Small {
    @include m.Body-Small;
}


.Headline {
    font-size: v.$font-xl;
}

.Display {
    text-align: center;
    font-size: v.$font-xxxl;
    font-weight: bold;
}

.Rounded-Container {
    padding: v.$base-padding;
    border-radius: v.$base-border-radius;
    background-color: var(--surface-color);
    border: v.$base-border;
    display: inline-flex;

    &.Has-Shadow {
        border: none;
        box-shadow: v.$elevation-1;
    }
}

.Empty-Indicator-Container {
    @extend .Horizontal-Flex-Container, .Rounded-Container, .Has-Shadow;
    font-size: v.$font-m;
    height: 2.5em;
    width: 22.15em;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: unset;
    
    &.Clickable {
        cursor: pointer;
    }
}

.Clickable {
    cursor: pointer;
}

.Red {
    background-color: var(--red-color);
}

.Orange {
    background-color: var(--orange-color);
}

.Yellow {
    background-color: var(--yellow-color);
}

.Green {
    background-color: var(--green-color);
}

.LightBlue {
    background-color: var(--light-blue-color);
}

.Blue {
    background-color: var(--blue-color);
}

.Purple {
    background-color: var(--purple-color);
}

.Opacity-Very-Low {
    opacity: v.$opacity-very-low;
}


// Typography

//.Title-Large {
//    font-weight: 400;
//    font-size: 22px;
//    line-height: 28px;
//}
//
//.Title-Medium {
//    font-weight: 500;
//    font-size: 16px;
//    line-height: 24px;
//    letter-spacing: 0.1px;
//}
//
//.Label-Small {
//    opacity: 0.38;
//    font-weight: 500;
//    font-size: 11px;
//    line-height: 16px;
//    letter-spacing: 0.5px;
//}

input {
    border: none;
    background: none;
    color: var(--primary-color);

    &:focus {
        outline: none;
    }

    &.Title-Large {
        opacity: 1;
        box-shadow: 0 2px 0 0 var(--surface-color);
        transition: box-shadow 0.2s;
        background-color: var(--surface-color);

        &:focus {
            box-shadow: 0 2px 0 0 var(--on-surface-color);
        }
    } 
}

table {
    border-spacing: 0;
    width: 100%;

    tr>* {
        padding: v.$symmetrical-padding;
    }

    tr>td {
        border: 1px solid var(--border-primary-color);
        border-top: none;

        &:first-child:not(:last-child) {
            border-right: none !important;
        }
        &:last-child:not(:first-child) {
            border-left: none !important;
        }
    }


    tr:first-child {
        th:first-child {
            border-top-left-radius: v.$base-border-radius;
        }
        th:last-child {
            border-top-right-radius: v.$base-border-radius;
        }
    }

    &> *:last-child > tr:last-of-type {
        td:first-child {
            border-bottom-left-radius: v.$base-border-radius;
        }
        td:last-child {
            border-bottom-right-radius: v.$base-border-radius;
        }
    }
}

*:disabled {
    opacity: v.$opacity-very-low;
    cursor: not-allowed;
}

thead {
    vertical-align: center;
    border: none;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    font-weight: normal;
    text-align: left;
}

td {
    padding: v.$base-padding;
}

::placeholder {
    opacity: 0.5;
}

button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
}


// Scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 2px grey;
    border-radius: 10px
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--border-primary-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

// App.jsx
@media (max-width: v.$tablet-breakpoint) {
    .Content-Container {
        justify-content: center;
        width: 100vw;
        flex-grow: 1;
        overflow: auto;
    }
    .Page {
        box-sizing: border-box;
        border: none !important;
        width: 100%;
        border-radius: 0;
        height: 100%;
        overflow-y: auto;
    }
    .App {
        flex-direction: column;
    }
    .Rounded-Container {
        &.To-Edge {
            border-radius: 0;
        }
    }

    ::-webkit-scrollbar {
        width: 2px;
    }
}

@media (min-width: v.$tablet-breakpoint) {
    .Content-Container {
        box-sizing: border-box;
        width: calc(100% - 300px - 8em);
        height: 100%;
        padding: 2em;
    }
}

.Content-Container {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
}

.icon {
    position: absolute;
    top: -0.5em;
}