$theme: 'light';

// colors
@mixin getTheme($theme) {
    @if $theme == 'light' {
        $theme: 'light';

        --background-color: #eff3f4;
        --on-background-color: #1C1B1F;
        --surface-color: #ffffff;
        --on-surface-color: #1C1B1F;
        --primary-color: #2E3440;
        --on-primary-color: #ffffff;
        --error-color: #db3b21;
        --on-error-color: #ffffff;
        --warning-color: #fc9403;
        --on-warning-color: #ffffff;
        --success-color: #1aaa55;
        --on-success-color: #ffffff;
        --info-color: #1f78d1;
        --on-info-color: #ffffff;
        --border-color: #eff3f4;
    } @else if $theme == 'dark' {
        $theme: 'dark';

        --background-color: #1C1B1F;
        --on-background-color: #E6E1E5;
        --surface-color: #1C1B1F;
        --on-surface-color: #E6E1E5;
        --primary-color: #2E3440;
        --on-primary-color: #E6E1E5;
        --error-color: #db3b21;
        --on-error-color: #ffffff;
        --warning-color: #fc9403;
        --on-warning-color: #ffffff;
        --success-color: #1aaa55;
        --on-success-color: #ffffff;
        --info-color: #1f78d1;
        --on-info-color: #ffffff;
        --border-color: #938F99;
    }
}

// spacing
$base-padding: 6px 12px;
$symmetrical-padding: 10px;
$base-margin: 0.75rem;
$big-gap: 20px;
$base-gap: 10px;

$padding-symmetrical-m: 10px;

// borders
$base-border-thickness: 1px;

$base-border-radius: 10px;
$button-border-radius: 100px;
$chip-border-radius: 10px;

$base-border: $base-border-thickness solid var(--border-color);

// typography
$font-m: 16px;
$font-s: 14px;
$font-l: 18px;
$font-xl: 20px;
$font-xxl: 24px;

// box shadow
$elevation-1: 0px 1px 3px rgba(0, 0, 0, 0.15);

// opacity
$opacity-low: 0.6;
$opacity-very-low: 0.4;

// breakpoints
$phone-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;