@use "@/styles/variables" as v;
@use "@/styles/index";

.container {
    @extend .Stack-Container, .Rounded-Container;
    background-color: var(--surface-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    width: 90%;
    height: 90%;
    margin: v.$base-margin;
}

.test {
    font-size: v.$font-m;
}

.alignTopContainer {
    @extend .Horizontal-Flex-Container;

    align-items: start;
}