.container {
  width: 100%;
  > * {
    margin: 10px 0;
  }
}

.bigContainer {
  display: grid;
  grid-template: 1fr / 1 fr;
  overflow-x: hidden;
  width: 100%;
  justify-content: center;

  > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
}